.swiper-slide {
  height: auto !important;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 1.5rem;
}

.swiper-pagination-bullet {
  transition: 1s ease;
}

.swiper-pagination-bullet-active {
  width: 2rem !important;
  border-radius: 9999px !important;
}
